/* reset by rafaux */
*, :after, :before { margin: 0px; padding: 0px; border: 0px; font-weight: normal; font-size: 100%; list-style: none; line-height: 1; outline: 0px; background: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; font-smoothing: antialiased; }

/* var */
:root { --black: #727273; --lightgray: #B3B3B3; --white: #DEDEDE; --green: #39463F; --green2: #76B900; --cream: #B3A374; --gold: #B2A374; --yellow: #F7E93A; --fontserif: 'Bitter', serif; }

/* global class */
.container { display: block; width: 100%; max-width: 1480px; height: auto; margin: 0px auto; }
.wrapper { display: flex; padding: 0px 20px; }

/* base */
a { text-decoration: none; transition: all .5s ease; }
body { background: #fff; color: var(--black); font: normal 14px 'Manrope', sans-serif; overflow-x: hidden; }
body.int { margin-top: 172px; }
input, textarea, select, button { font: normal 14px 'Manrope', sans-serif; appearance: none; -webkit-appearance: none; border-radius: 0px; cursor: pointer; }
input[type=submit], button { transition: all .5s ease; }

/* header */
#header { position: absolute; z-index: 2000; top: 50px; left: 0px; width: 100%; height: auto; }
#header .wrapper { align-items: flex-start; justify-content: space-between; }
#header .wrapper span.logo { display: flex; width: 220px; }
#header .wrapper span.logo img { display: block; width: 100%; height: auto; }
#header .wrapper .right { float: right; width: auto; text-align: right; }
#header .wrapper .right .top span { position: relative; display: inline-block; width: auto; margin-left: 60px; vertical-align: middle; }
#header .wrapper .right .top span i { display: inline-block; width: auto; margin-right: 7px; }
#header .wrapper .right .top span:nth-of-type(4) { margin-top: 2px; font-size: 18px; }
#header .wrapper .right .top span:nth-of-type(5),
#header .wrapper .right .top span:nth-of-type(6) { margin-top: 2px; margin-left: 28px; font-size: 16px; }
#header .wrapper .right .top span:nth-of-type(1)::after,
#header .wrapper .right .top span:nth-of-type(2)::after,
#header .wrapper .right .top span:nth-of-type(3)::after { position: absolute; top: 50%; right: -35px; width: 6px; height: 6px; background-color: var(--white); transform: translateY(-50%); border-radius: 100%; content: ''; }
#header .wrapper .right .top span:nth-of-type(1) i { font-size: 16px; }
#header .wrapper .right .top span:nth-of-type(4) i,
#header .wrapper .right .top span:nth-of-type(5) i,
#header .wrapper .right .top span:nth-of-type(6) i { margin-right: 0px; }
#header .wrapper .right .top span a { color: var(--white); }
#header .wrapper .right nav { margin-top: 24px; }
#header .wrapper .right nav li { position: relative; display: inline-block; width: auto; margin-left: 50px; vertical-align: middle; }
#header .wrapper .right nav li a { color: var(--cream); font-weight: 400; }
#header .wrapper .right nav li.on a { position: relative; color: var(--cream) !important; }
#header .wrapper .right nav li.on a:after { position: absolute; bottom: -14px; left: 50%; width: 40%; height: 3px; background-color: #fff; transform: translateX(-50%); border-radius: 10px; content: ''; }
#header .wrapper .right nav li:nth-of-type(5) { margin-left: 86px; }
#header .wrapper .right nav li:nth-of-type(5)::after { position: absolute; top: 50%; left: -45px; width: 6px; height: 6px; background-color: var(--cream); transform: translateY(-50%); border-radius: 100%; content: ''; }
#header .wrapper .right nav li:nth-of-type(6),
#header .wrapper .right nav li:nth-of-type(7) { margin-left: 35px; }
#header .wrapper .right nav li:nth-of-type(1) a,
#header .wrapper .right nav li:nth-of-type(2) a,
#header .wrapper .right nav li:nth-of-type(3) a,
#header .wrapper .right nav li:nth-of-type(4) a { font-weight: 700; font-size: 19px; text-transform: uppercase; color: #fff; }

    /* header -> int */
    body.int #header { top: 0px; height: 172px; padding-top: 50px; background: #39463F url('../img/launch-bg.jpg') no-repeat; background-size: cover; }

    /* header -> head */
    header.header { display: inline-block; width: 100%; height: auto; margin-bottom: 24px; }
    header.header h6 { float: left; width: auto; font-weight: 700; font-size: 32px; color: var(--green); }
    header.header strong { float: left; width: auto; margin-top: 10px; font-weight: 700; font-size: 17px; color: var(--cream); }
    header.header strong::before { display: inline-block; width: 6px; height: 6px; margin: 0px 40px; background-color: var(--cream); vertical-align: middle; border-radius: 100%; content: ''; }
    header.header span { float: right; width: auto; margin-top: 10px; }
    header.header span a { font-weight: 700; font-size: 17px; color: var(--cream); }
    header.header span a::before { display: inline-block; width: 70px; height: 2px; margin-right: 40px; background-color: var(--cream); vertical-align: middle; content: ''; }
    header.header span a::after { display: inline-block; width: auto; margin-left: 20px; font-family: 'Font Awesome 5 Pro'; content: '\f178'; }

    /* header -> category */
    .category-header { display: inline-block; width: 100%; height: auto; margin-bottom: 30px; }
    .category-header h6 { display: inline-block; width: auto; font-weight: 300; font-size: 48px; color: var(--gold); text-transform: uppercase; vertical-align: middle; }
    .category-header strong { display: inline-block; width: auto; margin-right: 40px; font-weight: bold; font-size: 17px; color: var(--green); vertical-align: middle; }
    .category-header strong::before { display: inline-block; width: 6px; height: 6px; margin: 0px 40px; background-color: var(--gold); border-radius: 100%; vertical-align: middle; content: ''; }
    .category-header span.filters { display: inline-block; width: auto; vertical-align: middle; }
    .category-header span.filters a { display: block; width: 150px; height: auto; padding: 15px 30px; border-radius: 5px; border: 2px solid var(--cream); color: var(--green); text-align: center; font-weight: bold; font-size: 17px; }
    .category-header span.filters a i { display: inline-block; margin-right: 8px; }
    .category-header .right { float: right; width: auto; margin-top: 2px; text-align: right; }
    .category-header .right small { display: inline-block; width: auto; font-size: 12px; color: var(--gold); vertical-align: middle; }
    .category-header .right span { display: inline-block; width: auto; margin-left: 22px; font-size: 24px; vertical-align: middle; }
    .category-header .right span a { color: var(--white); }
    .category-header .right span.on a { color: var(--gold); }
    .category-header .right select { display: inline-block; width: 240px; height: 50px; margin-left: 60px; padding-left: 18px; vertical-align: middle; border: 2px solid var(--white); background: #fff url('../img/select.svg') no-repeat right 20px center; border-radius: 5px; font-size: 17px; color: var(--green); }

    /* header -> title */
    .title-header { display: inline-block; width: 100%; height: auto; padding: 60px 0px; background-color: #F3F3F3; text-align: center; }
    .title-header h6 { display: block; font-weight: 300; font-size: 65px; color: var(--gold); text-transform: uppercase; }
    body.blog-categoria-id .title-header h6 { display: block; font-weight: 600; font-family: var(--fontserif); font-size: 22px; color: var(--green); text-transform: uppercase; }
    body.blog-categoria-id .title-header h5 { display: block; font-weight: 300; font-size: 65px; color: var(--gold); }

/* filter */
.filter { display: none; }

/* banner */
#banner { position: relative; height: 100vh; max-height: 1100px; background-color: #000; overflow: hidden; }
#banner::after { position: absolute; z-index: 20; bottom: -40px; right: 50%; width: 900px; height: 500px; margin-right: -700px; background: transparent url('../img/banner-wp.svg') no-repeat; opacity: .1; content: ''; }
#banner #slide { position: relative; display: inline-block; width: 100%; height: 100%; }
#banner #slide::after { position: absolute; z-index: 2; top: 0px; left: 0px; width: 100%; height: 100%; background-color: rgba(0,0,0,.2); content: ''; }
#banner #slide img { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; }
#banner #slide figcaption { position: absolute; z-index: 30; bottom: 90px; right: 140px; width: 700px; height: auto; padding: 60px 50px; background-color: rgba(0,0,0,.4); }
#banner #slide figcaption h1 { display: block; font-weight: 700; font-size: 38px; color: #fff; }
#banner #slide figcaption strong { display: block; margin: 6px 0px 26px 0px; color: var(--cream); font-family: var(--fontserif); font-size: 20px; }
#banner #slide figcaption small a { position: relative; display: block; padding-left: 38px; color: #fff; font-weight: 700; font-size: 19px; }
#banner #slide figcaption small a::before { position: absolute; top: 50%; left: 0px; width: 8px; height: 8px; background-color: #fff; border-radius: 100%; transform: translateY(-50%); content: ''; }
#banner #slide figcaption small a i { display: inline-block; width: auto; margin-left: 32px; vertical-align: middle; }

    /* banner -> buscar */
    #banner-buscar { position: absolute; z-index: 20; top: 50%; left: 140px; width: auto; transform: translateY(-50%); cursor: pointer; }
    #banner-buscar i { display: block; width: 100px; height: 100px; background-color: var(--green); border-radius: 100%; color: #fff; text-align: center; line-height: 100px; font-size: 32px; }
    #banner-buscar strong { display: block; margin: 10px 0px; color: #fff; font-size: 32px; }
    #banner-buscar small { display: block; color: var(--cream); font-weight: 600; }

/* launch */
#launch { padding: 90px 0px; background: #39463F url('../img/launch-bg.jpg') no-repeat; background-size: cover; }
#launch header.header h6 { color: #fff; }
#launch section article { margin: 0px 20px; }
#launch .slick-list { margin: 0px -20px; }
#launch .slick-dots { display: inline-block; width: 100%; height: auto; margin-top: 40px; text-align: center; }
#launch .slick-dots li { display: inline-block; width: 10px; height: 10px; margin: 0px 16px; border: 2px solid var(--white); border-radius: 100%; text-indent: -9999em; cursor: pointer; vertical-align: middle; }
#launch .slick-dots li.slick-active { width: 12px; height: 12px; background-color: var(--cream); border-color: var(--cream); }

/* category */
#category { position: relative; display: inline-block; width: 100%; height: auto; margin: 100px 0px 150px 0px; }
#category .container { max-width: 100%; padding: 0px 20px; }
#category aside { display: inline-block; width: 440px; padding: 50px 35px 40px; background-color: #F3F3F3; border-radius: 8px; vertical-align: top; }
#category aside select { display: inline-block; width: 100%; height: 50px; margin-bottom: 15px; padding-left: 18px; background: #fff url('../img/select.svg') no-repeat right 20px center; color: var(--lightgray); border-radius: 5px; }
#category aside input.text { display: inline-block; width: 100%; height: 50px; padding-left: 18px; background-color: #fff; border: 2px solid #fff; color: var(--green); border-radius: 5px; transition: all .5s ease; }
#category aside input.text.num { padding-left: 50px; }
#category aside input.text.num-right { padding-right: 50px; }
#category aside ::placeholder { color: var(--lightgray); }
#category aside input:focus, 
#category aside input:active,
#category aside input:focus-within { border-color: var(--gold); }
#category aside hr { display: block; width: 100%; height: 1px; margin: 30px 0px; background-color: var(--white); }
#category aside b { display: block; margin-bottom: 10px; font-weight: bold; color: #333; }
#category aside span.op { display: inline-block; width: auto; margin: 0px 15px 15px 0px; padding: 7px 15px; border-radius: 5px; background-color: var(--green); color: #fff; font-weight: bold; cursor: pointer; }
#category aside span.op i { display: inline-block; width: auto; margin-left: 7px; }
#category aside .value .line { display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 10px; margin-bottom: 30px; }
#category aside .value .line label { position: relative; display: inline-block; width: 100%; height: 50px; }
#category aside .value .line label small { position: absolute; top: 50%; left: 18px; transform: translateY(-50%); font-weight: bold; font-size: 17px; color: #333; }
#category aside .value .line.line-num small { left: auto; right: 18px; }
#category aside .qtd nav { display: block; margin-bottom: 15px; }
#category aside .qtd nav ul li { display: inline-block; width: auto; margin-right: 10px; padding: 7px 18px; background-color: #fff; border-radius: 5px; font-weight: bold; color: #333; cursor: pointer; transition: all .5s ease; }
#category aside .qtd nav ul li.on { background-color: var(--green); color: #fff; }
#category aside button { display: inline-block; width: 100%; height: 50px; margin: 20px 0px; background-color: var(--gold); color: #fff; border-radius: 5px; text-align: center; font-weight: bold; }
#category aside button i { display: inline-block; margin-left: 10px; vertical-align: baseline; }
#category aside span.reset a { display: block; font-weight: bold; color: var(--gold); text-align: center; }
#category aside::after { display: inline-block; width: 100%; height: 250px; margin-bottom: -320px; background: transparent url('../img/category-aside-logo.svg') no-repeat; background-size: contain; opacity: .4; content: ''; }
#category section { display: inline-block; width: calc(100% - 448px); height: auto; padding-left: 60px; vertical-align: top; }
#category section .grid { display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 20px; }
#category section .grid .building figcaption footer { grid-template-columns: repeat(2, 1fr); grid-gap: 18px; }

    /* category map */
    #category-map { display: inline-block; width: 100%; height: auto; margin: 100px 0px 150px 0px; }
    #category-map .container { max-width: 100%; padding: 0px 20px; }
    #category-map section { display: inline-block; width: 781px; padding-right: 32px; vertical-align: top; }
    #category-map section .grid { display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 20px; }
    #category-map section .grid .building figcaption footer { grid-template-columns: repeat(2, 1fr); grid-gap: 18px; }
    #category-map aside { display: inline-block; width: calc(100% - 784px); height: 1320px; background-color: var(--white); border-radius: 5px; overflow: hidden; vertical-align: top; }

/* pagination */
.pagination { display: inline-block; width: 100%; height: auto; margin-top: 40px; text-align: center; }
.pagination li { display: inline-block; width: auto; vertical-align: middle; }
.pagination li a { display: block; width: 48px; height: 48px; text-align: center; line-height: 46px; border-radius: 100%; font-weight: bold; font-size: 19px; color: var(--green); }
.pagination li.active a { background-color: var(--gold); color: #fff; }
.pagination li.on a { background-color: var(--gold); border-color: var(--gold); color: #fff; }
.pagination li.arrow a { width: 56px; border-radius: 5px; border: 1px solid #f3f3f3; color: var(--white); }
.pagination li.arrow-first { margin-right: 10px; }
.pagination li.arrow-prev { margin-right: 60px; }
.pagination li.arrow-last { margin-left: 10px; }
.pagination li.arrow-next { margin-left: 60px; }
.pagination li.arrow.arrow-last.on a { background-color: #fff; border-color: #f3f3f3; color: var(--black); }

/* about */
#about-header { padding-top: 36px; }
#about-header p { position: relative; z-index: 10; display: block; width: 720px; height: auto; margin: 0px auto 80px auto; font-family: var(--fontserif); font-size: 25px; color: var(--green); text-align: center; line-height: 1.4; }
#about-header p::after { position: absolute; top: 110px; left: 50%; width: 3px; height: 90px; background-color: var(--gold); transform: translateX(-50%); content: ''; }
#about-header .slide-count { position: absolute; z-index: 20; bottom: 0px; left: 50%; width: 145px; height: 40px; background-color: rgba(0,0,0,.5); color: #fff; font-weight: bold; transform: translateX(-50%); line-height: 40px; text-align: center; }
#about-header .slide-count span { font-weight: bold; }
#about-header .slide { display: inline-block; width: 100%; height: 824px; border-radius: 8px 8px 0px 0px; }
#about-header .slide img { width: 100%; height: 100%; border-radius: 8px 8px 0px 0px; object-fit: cover; }
#about-header .slide .slick-dots { display: inline-block; width: 100%; height: 40px; padding-top: 12px; background-color: #F3F3F3; text-align: center; border-radius: 0px 0px 8px 8px; }
#about-header .slide .slick-dots li { display: inline-block; width: 10px; height: 10px; margin: 0px 16px; border: 2px solid #DBD4BD !important; border-radius: 100%; text-indent: -9999em; cursor: pointer; vertical-align: middle; }
#about-header .slide .slick-dots li.slick-active { width: 12px; height: 12px; background-color: var(--cream); border-color: var(--cream) !important; }
#about-header .slide .arrow { position: absolute; z-index: 20; z-index: 20; top: 50%; width: 80px; height: 80px; background-color: rgba(0,0,0,.5); color: #fff; transform: translateY(-50%); text-align: center; line-height: 80px; font-size: 30px; cursor: pointer; }
#about-header .slide .arrow.arrow-prev { left: 0px; }
#about-header .slide .arrow.arrow-next { right: 0px; }

    /* about -> txt */
    #about-txt { position: relative; display: block; width: 1080px; margin: 120px auto; }
    #about-txt header h5 { display: inline-block; width: calc(100% - 680px); height: auto; vertical-align: top; color: var(--gold); font-family: var(--fontserif); font-size: 22px; }
    #about-txt header h4 { display: inline-block; width: 680px; height: auto; margin-left: -5px; vertical-align: top; font-size: 32px; line-height: 40px; color: var(--green); }
    #about-txt figure.video { position: relative; display: inline-block; width: 100%; height: 400px; margin: 50px 0px; border-radius: 5px; overflow: hidden; }
    #about-txt figure.video img.bg { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; }
    #about-txt figure.video sup { position: absolute; z-index: 10; top: 50%; left: 50%; width: 125px; height: 125px; background-color: #fff; border-radius: 100%; transform: translate(-50%, -50%); text-align: center; font-weight: 600; box-shadow: 0px 10px 30px rgba(0,0,0,.2); }
    #about-txt figure.video sup img { display: block; width: 14px; height: auto; margin: 42px auto 10px auto; }
    #about-txt figure.video a { display: block; font-weight: 600; font-family: var(--fontserif); font-size: 14px; text-transform: lowercase; color: var(--green); }
    #about-txt section { position: relative; display: block; padding-left: 280px; }
    #about-txt section::before { position: absolute; z-index: -1; top: 0px; left: -320px; width: 520px; height: 290px; background: transparent url(../img/contact-logo.svg) no-repeat; background-size: contain; opacity: .4; content: ''; }
    #about-txt section p { display: block; margin-bottom: 20px; line-height: 22px; color: var(--green); }
    #about-txt section p.tab { padding-left: 20px; }
    #about-txt section h4 { display: block; margin: 40px 0px 20px 0px; color: var(--gold); font-size: 32px; }
    #about-txt section li { position: relative; display: block; padding-left: 60px; font-family: var(--fontserif); margin-bottom: 10px; font-size: 22px; color: var(--green); }
    #about-txt section li::before { position: absolute; top: 50%; left: 40px; width: 5px; height: 5px; border-radius: 100%; background-color: var(--green); transform: translateY(-50%); content: ''; }
    #about-txt section .grid { display: grid; grid-template-columns: 1fr 1fr; }

    /* about services */
    #about-services { margin-bottom: 80px; }
    #about-services .container { position: relative; padding: 120px 200px 120px 470px; background-color: #F3F3F3; border-radius: 10px; }
    #about-services h5 { position: absolute; top: 120px; left: 200px; font-family: var(--fontserif); font-size: 22px; color: var(--gold); }
    #about-services h4 { display: block; margin-bottom: 20px; font-size: 32px; color: var(--green); line-height: 1.2; }
    #about-services h3 { display: block; margin-bottom: 10px; font-weight: 700; font-size: 19px; color: var(--gold); line-height: 1.2; }
    #about-services p { display: block; margin-bottom: 20px; line-height: 22px; color: var(--green); }
    #about-services img { display: block; width: 100%; height: auto; border-radius: 5px; }
    #about-services article { position: relative; display: inline-block; width: 100%; height: auto; padding: 30px 0px; border-top: 1px solid #DEDEDE; cursor: pointer; }
    #about-services article:first-of-type { border-top: none; }
    #about-services article .item { display: none; float: left; width: 100%; height: auto; }
    #about-services article b { position: absolute; top: 40px; right: 10px; }
    #about-services article b::before { position: absolute; top: 0px; left: 6px; width: 2px; height: 14px; background-color: #333; transition: all .5s ease; content: ''; }
    #about-services article b::after { position: absolute; top: 6px; left: 0px; width: 14px; height: 2px; background-color: #333; transition: all .5s ease; content: ''; }
    #about-services article.on b::before { transform: rotate(45deg); }
    #about-services article.on b::after { transform: rotate(45deg); }

/* user */
#user { position: relative; display: inline-block; width: 100%; height: auto; margin: 100px 0px 150px 0px; }
#user .container { max-width: 100%; padding: 0px 20px; }
#user section { display: inline-block; width: calc(100% - 448px); height: auto; padding-left: 60px; vertical-align: top; }
#user section .grid { display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 20px; }
#user section .grid .building figcaption footer { grid-template-columns: repeat(2, 1fr); grid-gap: 18px; }
#user aside { display: inline-block; width: 440px; padding: 50px 35px 40px; background-color: #F3F3F3; border-radius: 8px; vertical-align: top; }
#user aside::after { display: inline-block; width: 100%; height: 250px; margin-bottom: -320px; background: transparent url('../img/category-aside-logo.svg') no-repeat; background-size: contain; opacity: .4; content: ''; }
#user aside .profile { display: inline-block; width: 100%; height: auto; box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802); border-radius: 5px; }
#user aside figure { position: relative; display: block; height: 260px; background-color: #000; border-radius: 5px 5px 0px 0px; overflow: hidden; }
#user aside figure img { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; }
#user aside figcaption { display: inline-block; width: 100%; height: auto; padding: 35px 25px; background-color: #fff; border-radius: 0px 0px 5px 5px; }
#user aside figcaption small { display: block; color: var(--lightgray); font-size: 12px; }
#user aside figcaption h2 { display: block; margin: 5px 0px; font-weight: 600; font-family: var(--fontserif); font-size: 22px; color: var(--green); }
#user aside figcaption span.link a { display: block; margin-bottom: 10px; color: var(--gold); }
#user aside figcaption .desc { margin-top: 20px; padding-top: 20px; border-top: 1px solid #F3F3F3; }
#user aside figcaption .desc strong {display: block; margin-bottom: 10px; font-weight: bold; font-size: 17px; color: var(--green); }
#user aside figcaption .desc p { display: block; line-height: 22px; }
#user aside figcaption .desc span a { display: inline-block; width: 100%; height: 50px; margin-top: 20px; background-color: var(--gold); color: #fff; border-radius: 5px; text-align: center; line-height: 50px; font-weight: bold; font-size: 17px; }
#user aside figcaption .desc span a i { display: inline-block; margin-right: 10px; }

/* building */
.building { position: relative; background-color: #fff; border-radius: 5px; overflow: hidden; }
.building span.imgs { position: relative; display: block; height: 310px; }
.building span.imgs figure { position: relative; display: block; height: 310px; }
.building span.imgs figure img { width: 100%; height: 310px; object-fit: cover; }
.building span.imgs span.price { position: absolute; z-index: 2; bottom: 0px; left: 0px; width: auto; height: auto; padding: 14px 20px; background-color: var(--green); color: #fff; font-family: var(--fontserif); font-weight: 600; font-size: 25px; }
.building span.imgs span.price small { font-weight: 600; font-size: 14px; }
.building figcaption { position: relative; display: block; min-height: 340px; padding: 70px 35px 0px 35px; border: 1px solid #F3F3F3; }
.building figcaption span.ref { display: block; margin-bottom: 7px; font-size: 12px; color: var(--lightgray); }
.building figcaption span.ref b { display: inline-block; width: auto; padding: 6px 18px; margin-left: 15px; border-radius: 30px; background-color: var(--gold); color: #fff; font-weight: 700; }
.building figcaption span.title h2 { display: block; font-weight: 600; font-family: var(--fontserif); font-size: 25px; color: var(--green); }
.building figcaption span.title strong { display: block; margin: 6px 0px 18px 0px; font-size: 14px; color: var(--gold); }
.building figcaption span.desc p { display: block; line-height: 1.6; }
.building figcaption footer { position: absolute; bottom: 0px; left: 0px; width: 100%; display: grid; grid-template-columns: repeat(4, 1fr); padding: 35px; }
.building figcaption footer::before { position: absolute; top: 0px; left: 35px; width: calc(100% - 70px); height: 1px; background-color: #F3F3F3; content: ''; }
.building figcaption footer span.item { position: relative; display: block; font-weight: 700; color: var(--green); font-size: 17px; }
.building figcaption footer span.item strong { display: block; margin-top: 6px; color: var(--black); font-size: 14px; }

    /* building -> dots */
    .building .slick-dots { position: absolute; z-index: 20; bottom: -40px; left: 0px; width: 100%; height: 40px !important; margin-top: 0px !important; padding-top: 12px; background-color: #F3F3F3; text-align: center; }
    .building .slick-dots li { display: inline-block; width: 10px; height: 10px; margin: 0px 16px; border: 2px solid #DBD4BD !important; border-radius: 100%; text-indent: -9999em; cursor: pointer; vertical-align: middle; }
    .building .slick-dots li.slick-active { width: 12px; height: 12px; background-color: var(--cream); border-color: var(--cream) !important; }

/* feat */
#feat { padding: 100px 0px; }
#feat section { display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 40px; }
#feat section .building figcaption footer { grid-template-columns: repeat(2, 1fr); grid-gap: 18px; }
#feat section .building:first-of-type { grid-column: 1/3; }
#feat section .building:last-of-type { grid-column: 3/5; }
#feat section .building:first-of-type figcaption footer,
#feat section .building:last-of-type figcaption footer { grid-template-columns: repeat(4, 1fr); }

/* opportunities */
#opportunities section { display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 40px; }
#opportunities section figcaption footer { grid-template-columns: repeat(2, 1fr); grid-gap: 18px; }

/* spy */
#spy { position: relative; height: 1080px; margin: 100px 0px; }
#spy::after { position: absolute; z-index: -1; top: 50%; left: 50%; width: 800px; height: 445px; background: transparent url('../img/spy-wp.svg') no-repeat; transform: translate(-50%, -50%); opacity: .1; content: ''; }
#spy header { position: absolute; z-index: 2; top: 142px; left: 50%; width: 594px; height: auto; margin-left: -440px; }
#spy header h6 { display: block; font-weight: 300; font-size: 64px; color: var(--gold); letter-spacing: -0.03em; }
#spy header p { display: block; margin-top: 20px; padding-left: 70px; font-size: 17px; line-height: 1.4; text-align: right; }
#spy section { position: relative; z-index: 2; }
#spy section article { position: absolute; top: 0px; left: 50%; width: 300px; height: auto; margin-left: 260px; text-align: center; }
#spy section article figure { position: relative; width: 300px; height: 300px; margin-bottom: 18px; background: linear-gradient(90deg, #E14FAD 0%, #F9D423 100%); border-radius: 100%; }
#spy section article figure::before { position: absolute; top: 50%; left: 50%; width: 92%; height: 92%; background-color: #000; border: 15px solid #fff; border-radius: 100%; transform: translate(-50%, -50%); content: ''; }
#spy section article figure::after { position: absolute; z-index: 2; top: 50%; left: 50%; font-size: 36px; color: #fff; transform: translate(-50%, -50%); font-weight: bold; font-family: 'Font Awesome 5 Pro'; content: '\f04b'; }
#spy section article figure img { position: absolute; z-index: 2; top: 50%; left: 50%; width: 82%; height: 82%; border-radius: 100%; opacity: .4; transform: translate(-50%, -50%); object-fit: cover; transition: all .5s ease; }
#spy section article:hover figure img { opacity: .7; }
#spy section article:nth-of-type(2) { top: 400px; width: 368px; margin-left: -740px; }
#spy section article:nth-of-type(2) figure { width: 368px; height: 368px; }
#spy section article:nth-of-type(3) { top: 730px; width: 254px; margin-left: -360px; }
#spy section article:nth-of-type(3) figure { width: 254px; height: 254px; }
#spy section article:nth-of-type(4) { top: 520px; width: 368px; margin-left: 0px; }
#spy section article:nth-of-type(4) figure { width: 368px; height: 368px; }
#spy section article:nth-of-type(5) { top: 475px; width: 254px; margin-left: 470px; }
#spy section article:nth-of-type(5) figure { width: 254px; height: 254px; }
#spy section article:nth-of-type(2) figure::before,
#spy section article:nth-of-type(4) figure::before { border-width: 20px; }
#spy section article:nth-of-type(3) figure::before,
#spy section article:nth-of-type(5) figure::before { border-width: 12px; }
#spy section article small { display: block; color: var(--lightgray); font-size: 12px; }
#spy section article h3 { display: block; margin: 12px 0px 7px 0px; font-weight: 600; font-family: var(--fontserif); font-size: 22px; color: var(--green); }
#spy section article strong { display: block; font-weight: 600; font-size: 14px; color: var(--gold); }

/* contact */
#contact section { display: inline-block; width: 790px; height: auto; padding: 120px 110px 120px 0px; vertical-align: top; }
#contact section header h1 { display: block; margin-bottom: 15px; padding: 0px 80px; font-size: 32px; color: var(--green); }
#contact section header p { display: block; padding: 0px 80px 40px 80px; line-height: 22px; }
#contact section .box { display: inline-block; width: 100%; height: auto; padding: 60px 60px 60px 80px; background-color: #f3f3f3; border-radius: 5px; }
#contact section .box .alert { position: relative; display: inline-block; width: calc(100% - 20px); height: auto; margin-bottom: 40px; padding: 20px 20px 20px 22px; background-color: #fff; color: var(--green); border-left: 4px solid #76B900; font-weight: bold; font-size: 17px; box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802); border-radius: 5px; }
#contact section .box .alert i.fa-check-circle { display: inline-block; width: auto; margin-right: 18px; font-size: 24px; color: #76B900; vertical-align: text-bottom; }
#contact section .box .alert sup { position: absolute; top: 50%; right: 22px; font-size: 20px; color: var(--green); cursor: pointer; transform: translateY(-50%); }
#contact section .box label { display: inline-block; width: 100%; padding: 0px 20px 15px 0px; }
#contact section .box label.lb-1-3 { width: 40%; }
#contact section .box label.lb-2-3 { width: 60%; margin-left: -3px; }
#contact section .box label input,
#contact section .box label select { display: inline-block; width: 100%; height: 50px; padding: 0px 18px; background-color: #fff; border: 2px solid #dedede; border-radius: 5px; color: var(--green); font-size: 17px; transition: all .5s ease; }
#contact section .box label select { background: #fff url('../img/select.svg') no-repeat right 20px center; color: #B3B3B3; }
#contact section .box label textarea { display: inline-block; width: 100%; height: 160px; padding: 15px 18px; background-color: #fff; border: 2px solid #dedede; border-radius: 5px; color: var(--green); font-size: 17px; transition: all .5s ease; }
#contact section .box label ::placeholder { color: #B3B3B3; }
#contact section .box label :focus, 
#contact section .box label :active,
#contact section .box label :focus-within { border-color: var(--gold); }
#contact section .box label.check { position: relative; padding: 0px 0px 0px 35px; color: #b3b3b3; font-size: 12px; }
#contact section .box label.check input[type=checkbox] { position: absolute; top: -4px; left: 0px; width: 20px; height: 20px; padding: 0px; cursor: pointer; }
#contact section .box label.check input[type=checkbox]:checked { background-color: var(--gold); border-color: var(--gold); }
#contact section .box label.check input[type=checkbox]:checked::after { position: absolute; top: 50%; left: 50%; color: #fff; transform: translate(-50%, -50%); font-family: 'Font Awesome 5 Pro'; font-size: 12px; content: '\f00c'; }
#contact section .box label button { display: inline-block; width: auto; margin-top: 36px; padding: 15px 30px; line-height: 25px; font-weight: bold; font-size: 17px; background-color: var(--gold); color: #fff; text-align: center; border-radius: 5px; }
#contact aside { position: relative; display: inline-block; width: calc(100% - 800px); height: auto; padding: 120px 0px 120px 110px; vertical-align: top; border-left: 1px solid #F3F3F3; }
#contact aside::after { position: absolute; z-index: -1; top: 250px; right: -120px; width: 515px; height: 290px; background: transparent url('../img/contact-logo.svg') no-repeat; background-size: contain; opacity: .4; content: ''; }
#contact aside span { display: block; margin-bottom: 40px; }
#contact aside span:first-of-type { margin-top: 190px; }
#contact aside span strong { display: block; margin-bottom: 10px; font-weight: bold; font-family: var(--fontserif); color: var(--green); }
#contact aside span address,
#contact aside span b a { display: block; margin-bottom: 8px; font-weight: 700; font-size: 17px; color: var(--gold); line-height: 25px; font-style: normal; }
#contact aside span.social small { display: inline-block; width: auto; margin-right: 37px; vertical-align: middle; font-size: 28px; }
#contact aside span.social small:last-of-type { margin-right: 0px; }
#contact aside span.social small a { color: var(--gold); }

    /* contact -> map */
    #contact-map { margin-bottom: 160px; }
    #contact-map h6 { display: block; margin-bottom: 20px; font-size: 32px; color: var(--green); }
    #contact-map .map { display: inline-block; width: 100%; height: auto; padding: 60px 80px; border-radius: 5px; background-color: #F3F3F3; }
    #contact-map .map iframe { display: inline-block; width: 100%; height: 460px; border-radius: 5px; box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802); }

/* blog */
#blog { margin-bottom: 100px; }
#blog section { display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 20px; }
#blog section article { height: 445px; }
#blog section article figure { position: relative; display: inline-block; width: 100%; height: 265px; background-color: #000; border-radius: 5px; overflow: hidden; }
#blog section article figure img { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; }
#blog section article figcaption { position: relative; display: inline-block; width: 100%; height: 170px; margin-top: 10px; padding: 22px; border: 1px solid #F3F3F3; border-radius: 5px; vertical-align: top; }
#blog section article figcaption h3 { display: block; margin-bottom: 10px; font-weight: 700; font-size: 19px; color: var(--green); line-height: 1.2; }
#blog section article figcaption p { display: block; margin-bottom: 20px; line-height: 22px; color: var(--black); }
#blog section article figcaption span { position: absolute; bottom: 45px; left: 40px; width: 252px; height: 50px; border-radius: 5px; background-color: var(--gold); font-weight: bold; font-size: 17px; color: #fff; text-align: center; line-height: 48px; }
#blog section article:first-of-type { grid-column: 1/3; background-color: #F3F3F3; border-radius: 5px; }
#blog section article:first-of-type figure { width: 480px; height: 445px; border-radius: 5px 0px 0px 5px; }
#blog section article:first-of-type figcaption { width: calc(100% - 490px); height: 445px; margin-top: 0px; padding: 45px 40px; border: none; border-radius: 0px 5px 5px 0px; }
#blog section article:first-of-type figcaption h3 { font-weight: 400; font-size: 32px; }

    /* blog -> feat */
    #blog-feat { display: inline-block; width: 100%; height: auto; margin: 80px 0px; }
    #blog-feat figure { position: relative; display: inline-block; width: 100%; height: 860px; max-height: 100vh; border-radius: 5px; background-color: #000; overflow: hidden; }
    #blog-feat figure img { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; opacity: .5; }
    #blog-feat figcaption { position: absolute; z-index: 2; bottom: 88px; left: 180px; width: 900px; height: auto; }
    #blog-feat figcaption h1 { display: block; margin-bottom: 46px; font-weight: 300; font-size: 65px; color: #fff; }
    #blog-feat figcaption p { display: block; margin-bottom: 25px; padding-left: 90px; font-size: 17px; color: #fff; line-height: 25px; }
    #blog-feat figcaption span a { display: inline-block; width: auto; margin: 20px 0px 0px 90px; color: var(--gold); font-weight: bold; font-size: 19px; }
    #blog-feat figcaption span a::before { display: inline-block; width: 8px; height: 8px; margin-right: 30px; background-color: var(--gold); border-radius: 100%; vertical-align: middle; content: ''; }
    #blog-feat figcaption span a::after { display: inline-block; width: auto; margin-left: 30px; font-family: 'Font Awesome 5 Pro'; vertical-align: middle; content: '\f178'; }

    /* blog -> list */
    #blog-list header h6 { display: inline-block; width: 50%; height: auto; font-weight: bold; font-size: 40px; color: var(--green); vertical-align: top; }
    #blog-list header p { display: inline-block; width: 48%; height: auto; padding-right: 150px; font-size: 22px; color: var(--gold); line-height: 30px; vertical-align: top; }
    #blog-list aside { position: relative; display: inline-block; width: 404px; height: auto; margin-top: 60px; padding-left: 94px; vertical-align: top; }
    #blog-list aside::after { position: absolute; z-index: -1; top: 50px; left: -150px; width: 390px; height: 220px; background: transparent url('../img/category-aside-logo.svg') no-repeat; background-size: contain; opacity: .4; content: ''; }
    #blog-list aside nav ul li a { display: block; margin-bottom: 50px; font-weight: 600; font-size: 25px; color: var(--black); font-family: var(--fontserif); }
    #blog-list aside nav ul li.on a { position: relative; color: var(--gold); }
    #blog-list aside nav ul li.on a::before { position: absolute; top: 50%; left: -94px; width: 60px; height: 3px; background-color: var(--gold); transform: translateY(-50%); content: ''; }
    #blog-list section { display: inline-block; width: calc(100% - 414px); height: auto; padding: 60px 0px 160px 100px; vertical-align: top; border-left: 1px solid #f3f3f3; }
    #blog-list section .grid { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px; }
    #blog-list section .grid article:nth-of-type(even) { margin-top: 90px; }
    #blog-list section .grid figure { position: relative; display: inline-block; width: 100%; height: 265px; background-color: #000; border-radius: 5px; overflow: hidden; }
    #blog-list section .grid figure img { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; }
    #blog-list section .grid figcaption { position: relative; display: inline-block; width: 100%; height: 170px; margin-top: 10px; padding: 22px; border: 1px solid #F3F3F3; border-radius: 5px; vertical-align: top; }
    #blog-list section .grid figcaption h3 { display: block; margin-bottom: 10px; font-weight: 700; font-size: 19px; color: var(--green); line-height: 1.2; }
    #blog-list section .grid figcaption p { display: block; margin-bottom: 20px; line-height: 22px; color: var(--black); }
    #blog-list footer { display: inline-block; width: 100%; height: auto; margin-top: 80px; text-align: center; }
    #blog-list footer span a { display: inline-block; width: 125px; height: 125px; padding: 30px 20px 0px 20px; border-radius: 100%; box-shadow: 0px 20px 20px rgba(0,0,0,.1); font-weight: 600; font-family: var(--fontserif); font-size: 14px; color: var(--green); text-transform: lowercase; line-height: 1.4; }
    #blog-list footer span a i { display: block; margin-bottom: 8px; font-size: 20px; }

    /* blog post */
    #blog-post { padding: 90px 0px; }
    #blog-post .container { max-width: 1080px; }
    #blog-post header h1 { display: block; font-weight: bold; font-size: 40px; color: var(--green); }
    #blog-post header p { display: block; margin: 15px 0px 40px 0px; font-weight: 400; font-size: 19px; line-height: 28px; }
    #blog-post header small { display: inline-block; width: auto; vertical-align: middle; font-weight: bold; color: var(--green); }
    #blog-post header span { display: inline-block; width: auto; margin-left: 18px; vertical-align: middle; }
    #blog-post header span i { display: inline-block; color: var(--gold); font-size: 18px; }
    #blog-post header span a { font-weight: bold; color: var(--green); }
    #blog-post header span.print::before { display: inline-block; width: 6px; height: 6px; margin: 0px 50px -2px 35px; background-color: var(--gold); border-radius: 100%; vertical-align: super; content: ''; }
    #blog-post header span.print i { margin-right: 18px; }
    #blog-post header figure { position: relative; display: inline-block; width: 100%; height: 550px; margin: 73px 0px 60px 0px; border-radius: 5px; overflow: hidden; }
    #blog-post header figure img { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; }
    #blog-post section { position: relative; display: inline-block; width: 100%; height: auto; padding-left: 200px; }
    #blog-post section::before { position: absolute; z-index: -1; top: 0px; left: -420px; width: 520px; height: 290px; background: transparent url(../img/contact-logo.svg) no-repeat; background-size: contain; opacity: .4; content: ''; }
    #blog-post section h1,
    #blog-post section h2 { display: block; width: 70%; margin: 80px 0px 40px 0px; font-family: var(--fontserif); font-size: 25px; line-height: 34px; }
    #blog-post section p { display: block; margin-bottom: 22px; line-height: 22px; }
    #blog-post section p a { font-weight: bold; text-decoration: underline; color: var(--green); }
    #blog-post section .block { display: inline-block; width: 100%; height: auto; margin: 22px 0px 44px 0px; padding: 60px 100px; background-color: #f3f3f3; border-radius: 5px; }
    #blog-post section .block h1,
    #blog-post section .block h2 { margin-top: 0px; }
    #blog-post section nav { display: block; margin-bottom: 22px; }
    #blog-post section nav li { position: relative; display: block; padding-left: 25px; font-weight: bold; color: var(--green); line-height: 22px; }
    #blog-post section nav li::before { position: absolute; top: 50%; left: 10px; width: 4px; height: 4px; background-color: var(--green); border-radius: 100%; transform: translateY(-50%); content: ''; }
    #blog-post footer .author { display: flex; margin-top: 60px; align-items: center; justify-content: space-between; margin-bottom: 40px; padding-bottom: 40px; border-bottom: 1px solid #f3f3f3; }
    #blog-post footer .author .left { display: flex; align-items: center; justify-content: space-between; }
    #blog-post footer .author .left figure { position: relative; display: flex; width: 56px; height: 56px; margin-right: 16px; background-color: #000; border-radius: 100%; overflow: hidden; }
    #blog-post footer .author .left figure img { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; }
    #blog-post footer .author .left figcaption strong { display: block; margin-bottom: 3px; font-weight: bold; font-family: var(--fontserif); font-size: 22px; color: var(--green); }
    #blog-post footer .author .left figcaption em { display: block; font-style: normal; font-size: 12px; color: var(--gold); }
    #blog-post footer .author .share { display: flex; text-align: right; }
    #blog-post footer .author .share small { display: flex; color: var(--gold); }
    #blog-post footer .author .share span { display: flex; margin-left: 22px; font-size: 18px; }
    #blog-post footer .author .share span a { color: var(--green); }
    #blog-post footer span.back a { display: block; font-weight: bold; color: var(--green); }
    #blog-post footer span.back a::before { display: inline-block; width: auto; margin-right: 22px; font-family: 'Font Awesome 5 Pro'; font-size: 18px; color: var(--gold); vertical-align: middle; content: '\f177'; }

/* testimonials */
#testimonials { margin-bottom: 175px; }
#testimonials section { margin-top: 36px; }
#testimonials section article { position: relative; display: block; height: 390px; margin-right: 20px; border: 1.5px solid #F3F3F3; border-radius: 5px; }
#testimonials section article::before { position: absolute; top: -20px; left: 40px; width: 78px; height: 70px; background: transparent url('../img/testimonials-quote.svg') no-repeat; background-size: contain; content: ''; }
#testimonials section article blockquote { position: relative; display: inline-block; width: 100%; height: 272px; }
#testimonials section article blockquote p { position: absolute; bottom: 0px; left: 0px; width: 100%; height: auto; padding: 0px 40px; line-height: 22px; }
#testimonials section article span { position: absolute; bottom: 40px; left: 0px; width: 100%; padding: 0px 40px; }
#testimonials section article span strong { display: block; margin-bottom: 7px; font-weight: bold; font-size: 17px; color: var(--green); }
#testimonials section article span small { display: block; color: var(--lightgray); }
#testimonials section article span small em { font-weight: bold; color: var(--gold); text-transform: lowercase; font-style: normal; }
#testimonials section .slick-list { overflow: visible; }
#testimonials section .slick-dots { display: inline-block; width: 100%; height: auto; margin-top: 56px; text-align: center; }
#testimonials section .slick-dots li { display: inline-block; width: 10px; height: 10px; margin: 0px 16px; border: 2px solid var(--white); border-radius: 100%; text-indent: -9999em; cursor: pointer; vertical-align: middle; }
#testimonials section .slick-dots li.slick-active { width: 12px; height: 12px; background-color: var(--cream); border-color: var(--cream); }

/* contact call */
#contact-call { position: relative; height: 452px; background: var(--green) url('../img/contact-call-bg.png') no-repeat; background-size: cover; }
#contact-call section { position: absolute; top: 50%; left: 50%; width: 680px; height: auto; margin-left: -740px; transform: translateY(-50%); }
#contact-call section small { display: block; margin-bottom: 15px; font-weight: bold; color: #fff; }
#contact-call section small::before { display: inline-block; width: 50px; height: 2px; margin-right: 15px; background-color: var(--gold); vertical-align: middle; content: ''; }
#contact-call section h6 { display: block; color: var(--gold); font-weight: 600; font-size: 32px; line-height: 40px; }
#contact-call section p { display: block; margin: 15px 0px 40px 0px; font-size: 17px; line-height: 25px; color: #fff; }
#contact-call section span a { display: inline-block; width: 266px; height: 50px; background-color: var(--gold); color: #fff; font-weight: bold; font-size: 17px; border-radius: 5px; text-align: center; line-height: 44px; }
#contact-call section span a::after { display: inline-block; width: auto; margin-left: 12px; font-family: 'Font Awesome 5 Pro'; vertical-align: middle; content: '\f178'; }
#contact-call figure img { position: absolute; bottom: -1px; right: 50%; height: 530px; margin-right: -550px; }

/* footer */
#footer { padding: 60px 0px; background-color: #F3F3F3; }
#footer .column { display: inline-block; width: auto; vertical-align: top; }
#footer .column:first-of-type { width: 485px; padding-right: 120px; }
#footer .column:first-of-type nav { display: block; margin-top: 35px; }
#footer .column:first-of-type nav ul li { display: inline-block; width: auto; margin-right: 35px; vertical-align: middle; font-size: 16px; }
#footer .column:first-of-type nav ul li a { display: block; color: var(--gold); }
#footer .column:last-of-type { width: calc(100% - 495px); margin-left: -10px; }
#footer .column:last-of-type nav { display: grid; grid-template-columns: repeat(4, 1fr); }
#footer .column:last-of-type nav ul li a { display: block; padding: 10px 0px; color: var(--black); }
#footer .column:last-of-type nav ul li a.t { margin-bottom: 12px; font-weight: bold; font-size: 17px; color: var(--green); }
#footer .column:last-of-type nav ul li a.s i { display: inline-block; width: 24px; vertical-align: middle; font-size: 15px; }
#footer span.logo img { display: block; width: 178px; height: auto; margin-bottom: 10px; }
#footer span.creci { display: block; margin-bottom: 20px; font-weight: 700; font-size: 12px; color: var(--lightgray); text-transform: uppercase; }
#footer p { display: block; font-size: 12px; line-height: 18px; color: var(--black); }

/* bottom */
.bottom { padding: 25px 0px; }
.bottom .wrapper { align-items: flex-start; justify-content: space-between; }
.bottom address { display: flex; font-style: normal; font-size: 12px; }
.bottom span { display: flex; }
.bottom span img { width: 30px; }